html {
    scroll-behavior: smooth;
  }

body {
    margin: 0; padding: 0;
    background-color: #F6FDFF;
    font-family: "Rubik", Arial, sans-serif;
    pointer-events: none;
    overflow-x: hidden;
    transition: background-color 0.2s; /* Smooth transition */
}

.play-time-text {
    font-size: 30px;
    color: #A4C0C5;
    text-align: center;
    font-weight: 50;
}

.camera-effects {
    width: 90%;
    height: 100%;
    pointer-events: none;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
}

.camera-effects-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1); /* Transparent white */
    backdrop-filter: blur(3px); /* Adjust blur level */
    pointer-events: none;
    z-index: 1;
}

.play-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}




:root {
  --breathing-duration-1: 8s; /* Duration for first effect */
  --breathing-duration-2: 10s; /* Duration for second effect */
  --breathing-duration-3: 12s; /* Duration for third effect */
}

.breathing-effect {
  animation: breathing var(--random-duration, 8s) infinite ease-in-out;
}

/* Apply different durations randomly */
.breathing-effect:nth-child(1) { 
  --random-duration: var(--breathing-duration-1); 
}
.breathing-effect:nth-child(2) { 
  --random-duration: var(--breathing-duration-2); 
}
.breathing-effect:nth-child(3) { 
  --random-duration: var(--breathing-duration-3); 
}
.breathing-effect:nth-child(4) { 
  --random-duration: var(--breathing-duration-1); 
}
.breathing-effect:nth-child(5) { 
  --random-duration: var(--breathing-duration-2); 
}
.breathing-effect:nth-child(6) { 
  --random-duration: var(--breathing-duration-3); 
}

@keyframes breathing {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.03);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}


  


.persons-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.persons-text {
    font-size: 28px;
    color: #5CDB95;
    text-align: center;
    font-weight: 50;
}

.persons-text-cursor-text {
    animation: blink 1s infinite;
    height: 33px;
    width: 2px;
    background-color: #00000055;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* Media query for smaller screens */
@media (max-width: 768px) {  /* You can adjust 768px to your desired breakpoint */
  .persons-text-container {
    display: none;
  }
}



.battery-container {
    margin-top: 30px;
    width: 80px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: flex;
    gap: 7px;
    flex-direction: row;
}

.battery-bar-tip {
    min-width: 12px;
    height: 20px;
    background-color: #A4C0C550;
}

.battery-fill-container {
    width: 100%;
    height: 100%;
    border: 6px solid #A4C0C550;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.battery-fill {
    width: 100%;
    height: 100%;
    background-color: #A4C0C550;
    animation: progress 20s infinite alternate;
  }
  
  @keyframes progress {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }

.background-blur-text {
    font-size: 20px;
    color: #A4C0C5;
    text-align: center;
    font-weight: 50;
    pointer-events: none;
    position: fixed;
    top: 40%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    line-height: 64px;
    letter-spacing: 5px; /* Adjust as needed */
}


.introduction-text {
    z-index: 2;
    font-size: 20px;
    color: #1F2833;
    font-weight: 50;
    pointer-events: all;
    position: absolute;
    top: 100px;
    left: 50px;
    width: 90%;
    max-width: 867px;
    line-height: 64px;
    letter-spacing: 5px; /* Adjust as needed */
}


.contact-button {
  z-index: 2;
  font-family: "Rubik", Arial, sans-serif;
  font-size: 20px;
  color: #1F2833;
  font-weight: 50;
  pointer-events: all;
  width: 223px;
  height: 67px;
  outline: none;
  border: 2px solid transparent;
  background: linear-gradient(#F6FDFF, #F6FDFF) padding-box,
              linear-gradient(45deg, #1F2833, #1F283340) border-box;

  border: none;
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 440px;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
}

.reach-me-buttons-container {
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 480px;
  pointer-events: all;
  position: absolute;
  top: 590px;
  left: 50%;
  transform: translateX(-50%);
}

.reach-me-button {
  width: 32px;
  height: 32px;
  padding: 0px;
  margin: 0px;
  outline: none;
  border: none;
}



/* Media query for smaller screens */
@media (max-width: 768px) {  /* You can adjust 768px to your desired breakpoint */
  .contact-button {
    top: 520px;
  }

  .reach-me-buttons-container {
    top: 640px;
  }
}



.scroll-down-text-container {
  z-index: 2;
  display: flex;
  flex-direction: row;
  gap: 34px;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50px;
  bottom: 0px;
}

/* Media query for smaller screens */
@media (max-width: 968px) {  /* You can adjust 768px to your desired breakpoint */
  .scroll-down-text-container {
    display: none;
  }
}

.scroll-down-text-container p {
  font-size: 20px;
    color: #1F2833;
    font-weight: 50;
    pointer-events: none;
    line-height: 64px;
    letter-spacing: 5px; /* Adjust as needed */
}

.about-me-section {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 24px;
  pointer-events: all;
  position: absolute;
  top: 1600px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1294px;
}

.about-me-section p {
  font-size: 20px;
  color: #1F2833;
  font-weight: 50;
  pointer-events: all;
  line-height: 43px;
  letter-spacing: 5px; /* Adjust as needed */
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.about-me-section h1 {
  font-size: 35px;
  color: #39BBC9;
  font-weight: 400;
  pointer-events: all;
  line-height: 43px;
  letter-spacing: 5px; /* Adjust as needed */
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.background-blur-text-nothing {
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  font-weight: 50;
  pointer-events: none;
  position: absolute;
  top: 10000px;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 64px;
  letter-spacing: 5px; /* Adjust as needed */
  padding-bottom: 200px;
}


  /* Scrollbar Styles for Minecraft Build Versions List */
  ::-webkit-scrollbar {
    /* Scrollbars of cuteness */
    width: 10px; /* Width of the scrollbar */
    height: 10px;
  }
  
  ::-webkit-scrollbar-track {
    /* Tracks that are kawaii */
    background: #00000000; /* Color of the track */
    border-radius: 10px; /* Roundness of the thumb */
  }
  
  ::-webkit-scrollbar-thumb {
    /* Thumbs of pure kawaii-ness */
    background: #1F2833; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Roundness of the thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    /* Thumbs that get even cuter on hover */
    background: #66FCF1; /* Color of the scrollbar thumb on hover */
  }

.design-item {
  width: 500px;
  height: auto;
  position: absolute; /* Allows positioning with top and left */
  cursor: move; /* Change cursor to indicate dragging */
  z-index: 2;
  pointer-events: all;
}


.pick-it-up-section {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 112px;
  pointer-events: all;
  position: absolute;
  top: 3800px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1294px;
}

.pick-it-up-logo {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.pick-it-up-logo .img-one {
  width: 64px;
  height: auto;
}

.pick-it-up-logo .img-two {
  width: 293px;
  height: auto;
}

.pick-it-up-about {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.pick-it-up-about-header {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.pick-it-up-about p {
  font-size: 20px;
  color: #1F2833;
  font-weight: 50;
  pointer-events: all;
  line-height: 43px;
  letter-spacing: 5px; /* Adjust as needed */
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.pick-it-up-about-header h1 {
  font-size: 35px;
  color: #39BBC9;
  font-weight: 400;
  pointer-events: all;
  line-height: 43px;
  letter-spacing: 5px; /* Adjust as needed */
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.pick-it-up-about-header h4 {
  font-size: 24px;
  color: #1F2833;
  font-weight: 400;
  pointer-events: all;
  line-height: 43px;
  letter-spacing: 5px; /* Adjust as needed */
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.pick-it-up-details {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  gap: 40px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {  /* You can adjust 768px to your desired breakpoint */
  .pick-it-up-details {
    flex-direction: column; /* Change to column when screen is small */
    gap: 40px;
  }
}

.visit-store-button {
  font-family: "Rubik", Arial, sans-serif;
  font-size: 20px;
  color: #1F2833;
  font-weight: 50;
  pointer-events: all;
  width: 275px;
  height: 67px;
  outline: none;
  border: 2px solid transparent;
  background: linear-gradient(#F6FDFF, #F6FDFF) padding-box,
              linear-gradient(45deg, #1F2833, #1F283340) border-box;

  border: none;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

.pick-it-up-details-text {
  display: flex;
  flex-direction: column;
}

.pick-it-up-details-text h4 {
  font-size: 24px;
  color: #1F2833;
  font-weight: 400;
  pointer-events: all;
  line-height: 43px;
  letter-spacing: 5px; /* Adjust as needed */
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.pick-it-up-details-text ul {
  font-size: 20px;
  color: #1F2833;
  font-weight: 400;
  pointer-events: all;
  line-height: 43px;
  letter-spacing: 5px; /* Adjust as needed */
  width: 100%;
}

.pick-it-up-details-text li {
  opacity: 0; /* Start with opacity 0 */
  animation: waveOpacity 3s ease-in-out infinite; /* Animation settings */
}

/* Define the wave opacity animation */
@keyframes waveOpacity {
  0%, 100% { opacity: 0.5; }
  50% { opacity: 1; }
}


/* Use nth-child to apply animation delay */
/* Use nth-child to apply animation delay with 2 seconds apart */
.pick-it-up-details-text li:nth-child(1) { animation-delay: 0s; }
.pick-it-up-details-text li:nth-child(2) { animation-delay: 2s; }
.pick-it-up-details-text li:nth-child(3) { animation-delay: 4s; }
.pick-it-up-details-text li:nth-child(4) { animation-delay: 6s; }
.pick-it-up-details-text li:nth-child(5) { animation-delay: 8s; }
.pick-it-up-details-text li:nth-child(6) { animation-delay: 10s; }
.pick-it-up-details-text li:nth-child(7) { animation-delay: 12s; }
.pick-it-up-details-text li:nth-child(8) { animation-delay: 14s; }
.pick-it-up-details-text li:nth-child(9) { animation-delay: 16s; }
.pick-it-up-details-text li:nth-child(10) { animation-delay: 18s; }
.pick-it-up-details-text li:nth-child(11) { animation-delay: 20s; }
.pick-it-up-details-text li:nth-child(12) { animation-delay: 22s; }
.pick-it-up-details-text li:nth-child(13) { animation-delay: 24s; }
.pick-it-up-details-text li:nth-child(14) { animation-delay: 26s; }



.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it appears on top of other content */
  pointer-events: all;
  transition: opacity 0.5s ease;
  opacity: 0;
}

.enlarged-image {
  max-width: 90%;
  max-height: 90%;
  transition: transform 0.5s ease;
}



.popup {
  position: absolute;
  padding: 10px;
  background-color: #1F283330;
  color: white;
  font-size: 20px;
  font-weight: 50;
  pointer-events: all;
  line-height: 43px;
  letter-spacing: 5px; /* Adjust as needed */
  border-radius: 50px 50px 50px 0px;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none; /* Prevent interaction with the popup */
  z-index: 4;
}